@page "/"
@using DataGridSeparateEditForm.Data
@inject WeatherForecastService ForecastService

<DxGrid Data="forecasts">
    <Columns>
        <DxGridCommandColumn>
            <CellDisplayTemplate>
                @{
                    int keyField = ((WeatherForecast)context.DataItem).ID;
                    <a style="text-decoration: none;" href="/SeparateEditForm/@keyField">Edit</a>
                }
            </CellDisplayTemplate>
        </DxGridCommandColumn>
        <DxGridDataColumn FieldName=@nameof(WeatherForecast.TemperatureC) Caption="Temp. (C)" />
        <DxGridDataColumn FieldName=@nameof(WeatherForecast.Summary) Caption="Summary" />
        <DxGridDataColumn FieldName=@nameof(WeatherForecast.Date) DisplayFormat="dd/MM/yyyy" />
    </Columns>
</DxGrid>

@code {
    private List<WeatherForecast>? forecasts;
    protected override async Task OnInitializedAsync() {
        forecasts = await ForecastService.GetForecastAsync();
    }
}
