@page "/"

@using DataGridSeparateEditForm.Data
@inject WeatherForecastService ForecastService

@if (forecasts == null) {
    <h1>Loading...</h1>
}
else {
    <DxDataGrid Data=@forecasts ShowFilterRow=false>
        <DxDataGridColumn Field=@nameof(WeatherForecast.ID) Width="150px" Caption="#">
            <DisplayTemplate>
                @{
                    int keyField = (context as WeatherForecast).ID;
                    <a href="/SeparateEditForm/@keyField">Edit</a>
                }
            </DisplayTemplate>
        </DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(WeatherForecast.TemperatureC) Caption="Temp. (C)"></DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(WeatherForecast.TemperatureF) Caption="Temp. (F)"></DxDataGridColumn>
        <DxDataGridColumn Field=@nameof(WeatherForecast.Summary) Caption="Summary"></DxDataGridColumn>
        <DxDataGridDateEditColumn Field=@nameof(WeatherForecast.Date) DisplayFormat="dd/MM/yyyy"></DxDataGridDateEditColumn>
    </DxDataGrid>
}

@code {
    WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync() {
        forecasts = await ForecastService.GetForecastAsync();
    }
}