@page "/SeparateEditForm/{id}"
@inject NavigationManager UriHelper
@using DataGridSeparateEditForm.Data
@inject WeatherForecastService ForecastService

@if (copyForecast == null) {
    <h1>Loading...</h1>
}
else {
   <DxFormLayout Data=@copyForecast ItemUpdating=@((pair) => OnItemUpdating(pair.Key, pair.Value))>
        <DxFormLayoutItem Field=@nameof(WeatherForecast.TemperatureC) Caption="Temp. (C):" />
        <DxFormLayoutItem Field=@nameof(WeatherForecast.Summary) Caption="Summary:">
            <Template>
                <DxComboBox Data=@summaries 
                           Value="@(((string)((ValueEditContext)context).Value))" 
                           ValueChanged="@((string value) => ((ValueEditContext)context).OnChanged(value))"></DxComboBox>
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem Field=@nameof(WeatherForecast.Date) Caption="Date:">
            <Template>
                <DxDateEdit Date=@(((DateTime)((ValueEditContext)context).Value))
                            DateChanged=@((DateTime value) => ((ValueEditContext)context).OnChanged(value))></DxDateEdit>
            </Template>
        </DxFormLayoutItem>
        <DxFormLayoutItem ColSpanMd="3" BeginRow="true">
            <Template>
                <DxButton Id="saveButton" RenderStyle="ButtonRenderStyle.Success" Click="@(()=> { saveChanges(); })" Text="Save"></DxButton>
                <DxButton Id="cancelButton" RenderStyle="ButtonRenderStyle.Secondary" Click="@(()=> { cancelChanges(); })" Text="Cancel"></DxButton>
            </Template>
        </DxFormLayoutItem>
    </DxFormLayout>
}

@code {
    [Parameter]
    public string? id { get; set; }
    WeatherForecast? forecast = null;
    WeatherForecast? copyForecast = null;
    string[]? summaries;
    protected override async Task OnInitializedAsync() {
        forecast = await ForecastService.GetForecastByIdAsync(Convert.ToInt32(id));
        copyForecast = new WeatherForecast() {
            ID = forecast.ID,
            Date = forecast.Date,
            Summary = forecast.Summary,
            TemperatureC = forecast.TemperatureC
        };
        summaries = ForecastService.Summaries;
    }

    void OnItemUpdating(string fieldName, object newValue) {
        if (fieldName == nameof(WeatherForecast.Summary)) {
            copyForecast.Summary = newValue.ToString();
        }
        else if (fieldName == nameof(WeatherForecast.TemperatureC)) {
            copyForecast.TemperatureC = Convert.ToInt32(newValue);
        }
        else if (fieldName == nameof(WeatherForecast.Date)) {
            copyForecast.Date = Convert.ToDateTime(newValue);
        }
    }
    async void saveChanges() {
        await ForecastService.ChangeForecastAsync(copyForecast);
        UriHelper.NavigateTo(@"\");
    }
    void cancelChanges() {
        UriHelper.NavigateTo(@"\");
    }
}